<main>
    <h3 class="p-10">List of registered superheroes</h3>

    <table class="border-collapse border border-slate-500 border-spacing-2">
        <thead class="bg-red-500">
            <tr>
                <th class="p-4 border border-slate-600">Superhero</th>
                <th class="p-4 border border-slate-600">First Name</th>
                <th class="p-4 border border-slate-600">Last Name</th>
                <th class="p-4 border border-slate-600">Base of Operation</th>
                <th class="p-4 border border-slate-600">Affiliation</th>
                <th class="p-4 border border-red-500">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let superhero of superheroes" class="text-center">
                <td class="border border-slate-700">{{ superhero.heroName }}</td>
                <td class="border border-slate-700">{{ superhero.firstName }}</td>
                <td class="border border-slate-700">{{ superhero.lastName }}</td>
                <td class="border border-slate-700">{{ superhero.baseOfOperation }}</td>
                <td class="p-2 border border-slate-700">{{ superhero.affiliation }}</td>
                <td>
                    <button type="button" (click)="updateSuperhero(superhero.id)" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Update</button>
                    <button type="button" (click)="removeSuperhero(superhero.id)" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>


</main>